.likes-container {
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scrollbar-width: none;

  padding-block: 8px;
  margin-block: -8px;
}

.likes-list {
  display: flex;
  width: max-content;

  list-style: none;
  margin: 0;
  padding: 0;

  animation: flow 60s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  li {
    flex-shrink: 0;
    margin-right: 12px;

    img {
      width: 200px;
      height: 160px;
      border-radius: 12px;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes flow {
  to {
    transform: translateX(-50%);
  }
}
